Name : Siya Gampawar
Roll No. : D3-15

Practical No. 2: Implementation of Single Perceptron for Titanic Dataset

Implement a single perceptron for the Iris dataset and utilize GridSearchCV for hyperparameter
tuning.
Theory:
1. Step by step algorithm to be implement for perceptron class.
2. Use of fit, activation and predict function.
3. Different hyperparameters
4. Theory replated to the GridSerchCV

In [80]:
import numpy as np

class Perceptron:
  def __init__(self,lr_rate,epochs):
    self.weights=None
    self.bias=None
    self.lr_rate = lr_rate
    self.epochs = epochs
    
  def activation(self,z):
      return np.heaviside(z,0)
  
  def fit(self,X,y):
      n_samples,n_features = X.shape
      self.weights = np.zeros(n_features)
      self.bias = 0
      
      for epoch in range (self.epochs):
          for i in range(n_samples):
              # z=np.dot(X.iloc[i], self.weights)+self.bias
              # y_pred = self.activation(z)
              z = np.dot(X.iloc[i], self.weights) + self.bias
              y_pred = self.activation(z)
              
              #updating weights and bias
              self.weights += self.lr_rate*(y.iloc[i]-y_pred)*X.iloc[i]
              self.bias += self.lr_rate*(y.iloc[i]-y_pred)
              
  def predict(self,X):
      z = np.dot(X,self.weights +self.bias)
      return self.activation(z)

In [81]:
import pandas as pd
import numpy as np

In [82]:
df=pd.read_csv("tan.csv")

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [84]:
df.drop(['Name','SibSp','Parch','Embarked'], axis=1,inplace=True)

In [85]:
df.drop(['Ticket','Cabin'], axis=1,inplace=True)

In [86]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
Fare             0
dtype: int64

In [87]:
mean = df["Age"].mean()

In [88]:
df["Age"].fillna(mean, inplace = True)

In [89]:
df['Age'] = df['Age'].astype('int')

In [90]:
df['Pclass'] = df['Pclass'].astype('int')

In [91]:
df['Sex'].replace({'male':0,'female':'1'},inplace=True)

In [92]:
df['Sex'] = df['Sex'].astype('int')

In [93]:
target = df.Survived

In [94]:
df

     PassengerId  Survived  Pclass  Sex  Age     Fare
0              1         0       3    0   22   7.2500
1              2         1       1    1   38  71.2833
2              3         1       3    1   26   7.9250
3              4         1       1    1   35  53.1000
4              5         0       3    0   35   8.0500
..           ...       ...     ...  ...  ...      ...
886          887         0       2    0   27  13.0000
887          888         1       1    1   19  30.0000
888          889         0       3    1   29  23.4500
889          890         1       1    0   26  30.0000
890          891         0       3    0   32   7.7500

[891 rows x 6 columns]

In [95]:
df.drop(['Fare'], axis=1,inplace=True)

In [96]:
df

     PassengerId  Survived  Pclass  Sex  Age
0              1         0       3    0   22
1              2         1       1    1   38
2              3         1       3    1   26
3              4         1       1    1   35
4              5         0       3    0   35
..           ...       ...     ...  ...  ...
886          887         0       2    0   27
887          888         1       1    1   19
888          889         0       3    1   29
889          890         1       1    0   26
890          891         0       3    0   32

[891 rows x 5 columns]

In [97]:
data = df.drop('Survived',axis=1)

In [98]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score,classification_report

In [99]:
X_train,X_test,y_train,y_test = train_test_split(data,target,test_size=0.3,random_state=42)

In [105]:
perceptron = Perceptron(0.01,10)
perceptron.fit(X_train,y_train)
pred = perceptron.predict(X_test)

print(accuracy_score(y_test,pred))
print(classification_report(y_test,pred))

0.417910447761194
              precision    recall  f1-score   support

           0       0.67      0.01      0.03       157
           1       0.42      0.99      0.59       111

    accuracy                           0.42       268
   macro avg       0.54      0.50      0.31       268
weighted avg       0.56      0.42      0.26       268

In [101]:
X_train

     PassengerId  Pclass  Sex  Age
445          446       1    0    4
650          651       3    0   29
172          173       3    1    1
450          451       2    0   36
314          315       2    0   43
..           ...     ...  ...  ...
106          107       3    1   21
270          271       1    0   29
860          861       3    0   41
435          436       1    1   14
102          103       1    0   21

[623 rows x 4 columns]

In [102]:
X_test

     PassengerId  Pclass  Sex  Age
709          710       3    0   29
439          440       2    0   31
840          841       3    0   20
720          721       2    1    6
39            40       3    1   14
..           ...     ...  ...  ...
821          822       3    0   27
633          634       1    0   29
456          457       1    0   65
500          501       3    0   17
430          431       1    0   28

[268 rows x 4 columns]

In [103]:
y_train

445    1
650    0
172    1
450    0
314    0
      ..
106    1
270    0
860    0
435    1
102    0
Name: Survived, Length: 623, dtype: int64

In [104]:
y_test

709    1
439    0
840    0
720    1
39     1
      ..
821    1
633    0
456    0
500    0
430    1
Name: Survived, Length: 268, dtype: int64

Conclusion: We successfully learnt the concept of hyperparameters and perceptron class